<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>serveNow</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- handlebars -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="js/app.js"></script>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to serveNow</h1>
        <p>Your service project directory!</p>
      </div>
    </div>


    <!-- BEGIN FORM SAMPLE -->

    <section id='project-form' class="container">
      <div class="row">
      <div class="col-md-10 col-md-offset-1">

        <form class="form-horizontal">
          <fieldset>

            <!-- Form Name -->
            <legend>Add New Project</legend>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="what">What</label>
              <div class="col-md-4">
                <input id="what" name="what" type="text" placeholder="e.g. Cleaning the park" class="form-control input-md" required="">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="when">When</label>
              <div class="col-md-4">
                <input id="when" name="when" type="date" placeholder="" class="form-control input-md" required=''>

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="why">Why</label>
              <div class="col-md-4">
                <input id="why" name="why" type="text" placeholder="e.g. Why not?" class="form-control input-md" required=''>

              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" for="image">Select the project category</label>
              <div class="col-md-4">
                <select name='image' class="form-control" id="image">
                  <option value ='http://icons.iconarchive.com/icons/icons8/windows-8/512/Animals-Dog-icon.png'>Animals</option>
                  <option value='http://images.clipartlogo.com/files/ss/thumb/178/17829961/vector-elderly-couple_small.jpg'>Elderly</option>
                  <option value='https://tse1.mm.bing.net/th?&id=OIP.M0874035ddc17b61c6b2922853846bce6o0&w=300&h=300&c=0&pid=1.9&rs=0&p=0&r=0'>Youth</option>
                  <option value='http://www.psp.wa.gov/downloads/PSSH_Toolkit/elements/Tree.jpg'>Environment</option>
                </select>
              </div>
            </div>


            <!-- Button -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="singlebutton">Save Project</label>
              <div class="col-md-4">
                <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      </div>
    </section>

     <!--   END FORM SAMPLE -->

    <section class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2>Projects</h2>
        </div>
      </div>
      <!-- projects! -->
      <div id='projects'>
    <!-- handlebars template -->
        <script id="projectTemplate" type="text/x-handlebars-template">

            <!-- one project -->
            <div class="row project" data-project-id="{{ project._id }}">

              <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                  <div class="panel-body">


                  <!-- begin project internal row -->
                    <div class='row'>
                      <div class="col-md-3 col-xs-12 thumbnail project-art">
                        <img src="{{ project.image }}" alt="project image">
                      </div>

                      <div class="col-md-9 col-xs-12">
                        <ul class="list-group">
                          <li class="list-group-item">
                            <h4 class='inline-header'>What:</h4>
                            <span class='project-what'>{{ project.what }}</span>
                          </li>

                          <li class="list-group-item">
                            <h4 class='inline-header'>When:</h4>
                            <span class='project-when'>{{ project.when }}</span>
                          </li>

                          <li class="list-group-item">
                            <h4 class='inline-header'>Why:</h4>
                            <span class='project-why'>{{ project.why }}</span>
                          </li>

                          <li class="list-group-item">
                            <h4 class='inline-header'>Where:</h4>
                            {{#each project.wheres}}
                              <span class='project-where'>{{ name }} &ndash; {{ address }}</span>
                            {{/each}}
                          </li>
                          
                        </ul>
                      </div>

                    </div>
                    <!-- end of project internal row -->

                    <div class='panel-footer'>
                      <button class='btn btn-primary add-where'>Add Where</button>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <!-- end one project -->

        </script>

      </div>
    </section>

    <!-- begin whereModal: this is not visible until you call .modal() on it -->
    <div class="modal fade" tabindex="-1" role="dialog" id="whereModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Create Where</h4>
          </div>
          <div class="modal-body">
            <fieldset class='form-horizontal'>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="name">Name</label>
              <div class="col-md-4">
              <input id="name" name="name" type="text" placeholder="e.g. Bob's place" class="form-control input-md" required="">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="address">Address</label>
              <div class="col-md-4">
              <input id="address" name="address" type="text" placeholder="e.g. 12345 Food Ct, Los Angeles, CA 94603" class="form-control input-md">

              </div>
            </div>

            </fieldset>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="saveWhere">Save changes</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


  </body>



</html>