<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>serveNow</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- handlebars -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>
    <!-- APPLICATION SCRIPTS -->
    <script src="js/app.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDTwozRH_epwUDjCe-ATQO91Abdo1eYos&signed_in=true&libraries=places&callback=initAutocomplete" async defer></script>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to serveNow</h1>
        <p>Your service project directory!</p>
      </div>
    </div>


    <!-- BEGIN FORM SAMPLE -->

    <section id='project-form' class="container">
      <div class="row">
      <div class="col-md-10 col-md-offset-1">

        <form class="form-horizontal">
          <fieldset>

            <!-- Form Name -->
            <legend>Add a New Project!</legend>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="what">What</label>
              <div class="col-md-5">
                <input id="what" name="what" type="text" placeholder="e.g. Cleaning the park" class="form-control input-md" required="">
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="when">When</label>
              <div class="col-md-5">
                <input id="when" name="when" type="date" placeholder="" class="form-control input-md" required=''>
              </div>
            </div>

            <div class='form-group' id="locationField">
              <label class="col-md-4 control-label" for="where">Where</label>
              <div class='col-md-5'>
                <input id="autocomplete" placeholder="e.g. 10 Bush St, San Francisco, CA 94108, USA" class='form-control input-md' onFocus="geolocate()" type="text"></input>
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group default-hidden">
              <div class="col-md-5">
                <input id="where" name="where" type="text" class="form-control input-md" required=''>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" for="image">Category</label>
              <div class="col-md-5">
                <select name='image' class="form-control" id="image">
                  <option value ='/images/animal.png'>Animals</option>
                  <option value='/images/tree.jpg'>Environment</option>
                  <option value='/images/health.jpg'>Health</option>
                  <option value='/images/justice.png'>Justice</option>
                  <option value='/images/elderly.jpg'>Seniors</option>
                  <option value='/images/children.jpeg'>Youth</option>
                </select>
              </div>
            </div>


            <!-- Button -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="singlebutton">Save Project</label>
              <div class="col-md-4">
                <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      </div>
    </section>

     <!--   END FORM SAMPLE -->

    <section class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2>Projects</h2>
        </div>
      </div>
      <!-- projects! -->
      <div id='projects'>

    <!-- handlebars template -->
        <script id="projectTemplate" type="text/x-handlebars-template">

          <!-- one project -->
          <div class="row project" data-project-id="{{ project._id }}">

            <div class="col-md-10 col-md-offset-1">
              <div class="panel panel-default">
                <div class="panel-body">


                <!-- begin project internal row -->
                  <div class='row'>
                    <div class="col-md-3 col-xs-12 thumbnail project-art">
                      <img src="{{ project.image }}" alt="project image">
                    </div>

                    <div class="col-md-9 col-xs-12">
                      <ul class="list-group">
                        <li class="list-group-item">
                          <h4 class='inline-header'>What:</h4>
                          <span class='project-what'>{{ project.what }}</span>
                        </li>

                        <li class="list-group-item">
                          <h4 class='inline-header'>When:</h4>
                          <span class='project-when'>{{ project.when }}</span>
                        </li>

                        <li class="list-group-item">
                          <h4 class='inline-header'>Where:</h4>
                          <span class='project-where'>{{ project.where }}</span>
                        </li>

                        <li class="list-group-item">
                          <h4 class='inline-header'>Organizer(s):</h4>
                          {{#each project.organizers}}
                            <span class='project-organizer'>{{ firstName }} {{ lastName }} &ndash; </span>
                          {{/each}}
                        </li>
                        
                      </ul>
                    </div>

                  </div>
                  <!-- end of project internal row -->

                  <div class='panel-footer'>
                    <button class='btn btn-primary add-organizer'>Add Organizer</button>
                    <button class='btn btn-info edit-project'>Edit Project</button>
                    <button class='btn btn-info edit-organizers'>Edit Organizer(s)</button>
                    <button class='btn btn-danger delete-project'>Delete Project</button>
                    <button class='btn btn-success put-project default-hidden'>Save Changes</button>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <!-- end one project -->

        </script>

      </div>
    </section>

    <!-- begin organizerModal: this is not visible until you call .modal() on it -->
    <div class="modal fade" tabindex="-1" role="dialog" id="organizerModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Create Organizer</h4>
          </div>
          <div class="modal-body">
            <fieldset class='form-horizontal'>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="firstName">First Name</label>
              <div class="col-md-4">
              <input id="firstName" name="firstName" type="text" placeholder="e.g. Bob" class="form-control input-md" required="">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="lastName">Last Name</label>
              <div class="col-md-4">
              <input id="lastName" name="lastName" type="text" placeholder="e.g. Peters" class="form-control input-md">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="email">Email</label>
              <div class="col-md-4">
              <input id="email" name="email" type="text" placeholder="e.g. bp@gmail.com" class="form-control input-md">

              </div>
            </div>

            </fieldset>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="saveOrganizer">Save changes</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Edit Organizers Modal -->
    <div class="modal fade bs-modal-lg" id="editOrganizersModal" tabindex="-1" role="dialog" aria-labelledby="editOrganizersModalTitle">
      <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="editOrganizersModalTitle">Edit Organizer List</h4>
          </div>
          <div class="modal-body" id='editOrganizersModalBody'>
            <p> REPLACE #editOrganizersModalBody </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

  </body>

</html>